body {
     font-family: 'lato';
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5em;
}

h2 {
    margin-bottom: -10px;
    font-weight:700;
    line-height: 1.3em;
}

h4 {
  color: #fff;
  font-size: 20pt;
  margin-left:30px;
  margin-top:-60px;
  font-weight:700;
  text-transform: uppercase;
  letter-spacing: 1.2pt;
}

.allNews {
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
  background-color: #fff;
}

.firstNews {
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
  background-color: #fff;
}

.news {
  background-color: #fff;
	width: 330px;
	margin: 5px;
	padding: 10px;
	border: none;
}

.button {
    width: content;
    height: 25px;
    background: #1721a8;
    padding: 10px 15px 10px 15px;
    text-align: left;
    border-radius: 3px;
    color: white;
    font-weight:500;
    text-transform: uppercase;
}

.button:hover {
    background-color: #f3680c;
    color: white;
}

.header {
  overflow: hidden;
  background-color: #1721a8;
  background-image: url("dots3.png");
  background-repeat: repeat;
  padding: 20px 10px 50px 30px;
  margin: -10px -10px 10px -10px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }

}
.news-lead {
  background-color: #fff;
	max-width: 500px;
	margin: 5px;
	padding: 10px;
	border: none;
}

.firstNews img {
  max-width: 500px;
  border-radius: 3px;
}

.news img {
  max-width:330px;
  border-radius: 3px;
}
